<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Jen's Amazing GET/POST Checker</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
  </head>
  <body>
    {{{body}}}
  </body>
</html>