/* table styles */

table {
	border-collapse: collapse;
}

table caption {
	padding: 5px;
	font-size: 1.3em;
}

tbody tr > td:first-child {
	font-style: italic;
}

td, th {
	border: 1px solid black;
	padding: 5px;
}

tbody tr:nth-of-type(odd) {
	background: beige;
}

/* typography */

h1 {
	padding-top: 10px;
	margin-bottom: 5px;
	font-family: "Helvetica", sans-serif;
}

section > h1:first-child {
	padding-top: 0px;
	margin-top: 0px;
}

section {
	background-color: white;
	margin: 20px auto;
	padding: 10px 10px 10px 10px;
	border-radius: 5px;
}

body {
	background-color: gray;
}

/* some divs */

.outer-content {
	background-color: #ff3399;
	width: 75%;
	margin-top: 20px;
	padding: 10px;
}

.inner-content {
	background-color: #ccffff;
	width: 75%;
	margin: 0px auto;
	text-align: center;
}

/* form styles */
fieldset {
	margin: 10px auto;
}

fieldset legend {
	font-weight: bold;
	font-size: 1.2em;
	letter-spacing: 1px;
	font-family: "Helvetica", sans-serif;
}

input {
	margin-top: 5px;
}

button {
	padding: 10px;
	font-size: 1em;
	font-weight: bold;
}