/* table styles */

table {
	border-collapse: collapse;
}

table caption {
	padding: 5px;
	font-size: 1.3em;
}

tr > td:first-child {
	font-style: italic;
}

td, th {
	border: 1px solid black;
	padding: 5px;
}

/* typography */

h1 {
	border-top: 1px solid black;
	padding-top: 10px;
}

/* some divs */

.outer-content {
	background-color: pink;
	width: 75%;
	margin-top: 20px;
	padding: 10px;
}

.inner-content {
	background-color: blue;
	color: white;
	width: 75%;
	margin: 0px auto;
}

/* form styles */
